*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$primary : #0d2240;;

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    ul{
        width: 100%;
        background-color: lightgreen;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        li{
            list-style: none;
            text-transform: uppercase;
            margin: 0 20px;
            font-weight: 900;
            font-size: 1.3rem;
            a{
                color: white !important;
                text-decoration:  none;
    
                &:focus{
                    color: $primary !important;
                }
            }
        }

    }
}

#site_main{
    background-image: url("../img/fondo-pag-speciali.jpg");
    overflow-x: hidden;
    h2{
        color: $primary;
        text-align: center;
        text-transform: uppercase;
        padding: 20px 0;
        text-shadow: 1px 1px $primary;
    }
    .pasta{
        display: flex;
        flex-wrap: wrap;
        .formato{
            position: relative;
            flex-basis: calc(100% / 3.5);
            margin: 20px;
            cursor: pointer;
            img:first-child{
                width: 100%;
            }
            .forchetta{
                display: none;
                width: 50px;
            }
            &:hover .forchetta{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .scheda{
                display: none;
                padding: 10px;
            }
            &:hover .scheda{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    
}

#site_footer{
    display: flex;
    padding: 200px 0;
    width: 60%;
    margin: auto;
    justify-content: space-around;
    img{
        height: 100px;
    }
    .footer_links{
        display: flex;
        div{
            margin: 10px 20px;
            ul{
                li{
                    margin: 10px;
                    list-style: none;
                    text-transform: uppercase;
                    a{
                        color: grey;
                        text-decoration: none;
                    }
                }
                li:first-child{
                    font-weight: 900;
                    font-size: 1.3rem;
                    a{
                        color: $primary;
                    }
                }
            }
        }
    }
    ul:last-child{
        margin-top: 20px;
        li{
            list-style: none;
            font-size: 0.8rem;
            a{
                color: grey;
                text-decoration: none;
                span{
                    font-weight: 900;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.contatti{
    display: flex;
    flex-wrap: wrap;
    div{
        width: calc(100% / 3);
        overflow: hidden;
        img{
            width: 100%;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
                transition: all 0.4s;
            }
        }

    }
}